.local/
.cache/
runtime/
original/
originals/
build/
out/
target/
*.jar
*.class
*.dll
*.exe
*.zip
*.rar
*.7z
*.bin
*.dmp
*.log
*.log.*
*.dat
*.mca
*.mcr
*.mса
*.lck
__pycache__/
*.py[cod]
.idea/
.vscode/
Thumbs.db
.DS_Store
